.signin-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1532334664543-a1ac9d95137d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}   

.sign-in-btn {
    display: flex;
    justify-content: center;
    align-self: center;
}

.pass-link {
    text-decoration: none;
}


