.signin-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 67vh;
}   

.sign-in-btn {
    display: flex;
    justify-content: center;
    align-self: center;
}

.pass-link {
    text-decoration: none;
}


